*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family: 'Times New Roman', Times, serif;
    letter-spacing: 1px;

}
body{
    /* min-height: 100vh;
    max-width: 100%; */
    display: flex;
    justify-content: center;
    align-items: center;
    background-color: #7C93C3; 
 }
 main{
    min-height: 100vh;
    max-width: 100%; 
    display: flex;
    justify-content: center;
    align-items: center;
    background-color: #7C93C3; 

 }
header{
    top: 0%;
    min-height: 30px;
    max-width: 100%;
    width:100%;
    background-color: bisque;
    height: auto;
    border-bottom-left-radius: 125px;
    border-bottom-right-radius: 125px;
    position: fixed;
}
nav{
    width: 100%;
    display: flex;
    align-items: center;
    justify-content: space-between;
    padding: 20px 0;
    
}
nav h1{
    margin-left: 50px;
    color: #860A35;
    font-size: 25px;
    font-weight: 1000;
    
}
nav ul li{

    list-style: none;
    display: inline-block;
    margin: 10px 20px;
    font-weight: 500;
    cursor: pointer;

}
nav ul li a{
    text-decoration: none;
    color: #392467;
    font-size: 25px;
    font-weight: 700;
    
}
.calculator{
    

   
    padding: 15px;
    box-shadow: 0 0 25px #A367B1;
    border: 5px solid #392467;
    border-radius: 15px;
    background-color: #FFC0D9;

}
.display{
    background-color: #AC87C5;
}

.display input{
    width: 360px;
    border: none;
    padding: 20px;
    margin: 10px;
    background: #E0AED0;
    color: white;
    font-size: 50px;
    text-align: right;
    cursor: pointer;
}
input::placeholder{
    color: white;
}
button{
    width: 70px;
    height: 70px;
    margin: 10px;
    background: transparent;
    color:white;
    font-size: 25px;
    font-weight: 800;
    border-radius: 50%;
    box-shadow: 0 0 15px #C683D7;
    background-color: #7C93C3;

}
footer{
    width: 100%;
    height: auto;
    position: fixed;
    bottom: 0;
    padding: 20px 0 30px;
    background-color: bisque;
    color: black;
    font-size: 15px;
    border-top-right-radius: 125px;
    border-top-left-radius: 125px;

}
.container{
    width: 85%;
    margin: auto;
    display: flex;
    flex-wrap: wrap;
    align-items: flex-start;
    justify-content: space-between;
}
.aboutus{
    flex-basis: 25%;
    padding: 10px;
}
.design{
    color: red;
   padding-left: 90px;
}
